@font-face {
    font-family: 'Comfortaa Bold';
    src: local('Comfortaa Bold'),
    url('/../comfortaa-bold.ttf') format('ttf'),
    url('/../comfortaa-bold.woff') format('woff');
}
details{
    display:block;
    background: #45526A;
    width:400px;
    box-shadow: 1px 1px 0 0 darkslategray;
    border-radius: 8px;
    overflow:hidden;
    margin-bottom: 1.5rem;
}

details summary::-webkit-details-marker{display:none;}
details summary::-moz-list-bullet{list-style-type:none;}
details summary::marker{display:none;}
details summary {
    display:inline-block;
    padding: .3em .6em .3em 1.5em;
    font-size:1.8em;
    cursor: pointer;
    color: white;
    position: relative;
    border-bottom: 2px solid #13171c;
}
details summary:before {
    left: .3em;
    top: .4em;
    color: white;
    width: 1em;
    height: 1em;
    content: "☰";
    position: absolute;
    transition: transform .5s;
}
details[open] > summary:before {
    transform: rotateZ(90deg);
    left: .6em;
    top: .7em;
}
summary ~ * {
    padding:0 2em 10px 2em;
}
@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}
summary:focus {
    outline:0;
}
details{
    display:block;
    margin-bottom: .5rem;
}

.radius {
    border-radius: 16px;
    box-shadow: 0 0 3px 3px #bdbdbd;
    position:relative;
    margin: auto 50%;
    left:0;
    width:auto;
    max-width: 350px;
    height:auto;
    max-height: 350px;
    min-height: 350px;
    min-width: 350px;
    overflow:hidden;
}

.img_avatar{
    position:relative;
    width:auto;
    height:auto;
    max-width: 350px;
    max-height: 350px;
    min-width: 350px;
    min-height: 350px;

}

.description {
    font-size: 13pt;
}
.row {
    left:0;
    margin: 2% auto;
    width:auto;
    max-width: 2000px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}


#img_plan_neuro{
    margin: auto; /* Центровка блока по центру */
    position:relative;
    width:auto;
    left: -11%;
    height:auto;
    max-width: 350px;
    max-height: 300px;
    min-width: 350px;
    min-height: 300px;
}

#img_plan_morning{
    margin: auto; /* Центровка блока по центру */
    position:absolute;
    top:0;
    left: 0;
    width:auto;
    height:auto;
    max-width: 350px;
    max-height: 50px;
    min-width: 350px;
    min-height: 50px;
}

#img_plan1{
    margin: auto; /* Центровка блока по центру */
    position:absolute;
    width:auto;
    top:50px;
    left: 0;
    height:auto;
    max-width: 350px;
    max-height: 50px;
    min-width: 350px;
    min-height: 50px;
}

#img_plan2{
    margin: auto; /* Центровка блока по центру */
    position:absolute;
    width:auto;
    top:100px;
    left: 0;
    height:auto;
    max-width: 350px;
    max-height: 50px;
    min-width: 350px;
    min-height: 50px;
}


#img_plan_evening{
    margin: auto; /* Центровка блока по центру */
    position:absolute;
    width:auto;
    top:150px;
    left: 0;
    height:auto;
    max-width: 350px;
    max-height: 50px;
    min-width: 350px;
    min-height: 50px;
}


#img_plan3{
    margin: auto; /* Центровка блока по центру */
    position:absolute;
    width:auto;
    top:200px;
    left: 0;
    height:auto;
    max-width: 350px;
    max-height: 50px;
    min-width: 350px;
    min-height: 50px;
}

#img_plan4{
    margin: auto; /* Центровка блока по центру */
    position:absolute;
    width:auto;
    top:250px;
    left: 0;
    height:auto;
    max-width: 350px;
    max-height: 50px;
    min-width: 350px;
    min-height: 50px;
}


#planImage {
    margin: auto;
    width:auto;
    max-width: 350px;
    height:auto;
    max-height: 300px;
    min-width: 350px;
    min-height: 300px;
    position:relative;
    background: #45526A; /* Фон блока */
}

/* или (две записи равнозначны) */

body {
    font-family: 'Comfortaa Bold';
    margin : auto;
    background-image: url(/images/fon7.jpg);
    color: #fff; /*Цвет текста на странице*/
    background-size: 100%;
}
#header {
    min-height: 83px; /* Высота слоя */
    top:0;
    width: 100%;
    z-index: 999999;
    background: #2A6478;
    position:sticky;
    border-bottom: 2px solid #000;
    box-shadow: 0 0 2px 2px #000;
}
#header h1 {
    padding-top: 2px;
    padding-left: 20px;
    margin: auto;
}

#header h5 {
    padding-left: 20px;
    margin: auto;
    font-size: 1.2em;
    color: darkgray;
}

#MemeCarousel{
    border-radius: 16px;
    position: relative;
    margin: 5% auto;
    max-width: 1000px;
    max-height: 500px;
    min-height: 500px;
    height: 100%;
    background: gray;
    width: 100%;
}

.carousel-image{
    border-radius: 16px;
    min-height: 500px;
    max-height: 500px;
    height: 100%;
    max-width: 1000px;
    width: 100%;
}
.icon-image{
    max-height: 70px;
    max-width: 70px;
    width: 100%;
    height: 100%;
}

.advertisement_div{
    border-width: 4px 0 4px 4px;
    border-style: double  hidden double double;
    border-color: #f3e5f5;
    position:absolute;
    top:14%;
    right: 0;
    background-color: #2c4166;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.adv_photo_row {
    left:0;
    margin: 2% auto;
    width:auto;
    max-width: 2000px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}


.advertisement_elem{
    left:0;
    font-size: 1.0em;
    margin: 3%;
    width:auto;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.advertisement_block{
    left:0;
    margin: 0 0 3% 0;
    width:auto;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
}


.advertisement_image{
    max-height: 60px;
    max-width: 60px;
    width: 100%;
    height: 100%;
}

.contacts{
    width: 100%;
}

@media all and (max-width: 1000px) {
    .row {
        left:0;
        margin: 2% auto;
        width:auto;
        max-width: 1000px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: center;
        justify-content: space-around;
        flex-direction: column;
    }
    #MemeCarousel{
        border-radius: 16px;
        position: relative;
        margin: 5% auto;
        max-width: 500px;
        max-height: 250px;
        min-height: 250px;
        height: 100%;
        background: gray;
        width: 100%;
    }

    .carousel-image{
        border-radius: 16px;
        min-height: 250px;
        max-height: 250px;
        height: 100%;
        max-width: 500px;
        width: 100%;
    }

    .adv_photo_row {
        margin: 0 auto;
        width:auto;
        max-width: 1000px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .advertisement_div{
        border-width: 4px 4px 4px 4px;
        border-style: double  double double double;
        width: 95%;
        top: 5%;
        align-self: center;
        margin: 5% 5% 5% 5%;
        height: auto;
        position: relative;
        border-color: #f3e5f5;
        flex-flow: row wrap;
        align-items: flex-end;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .advertisement_elem{
        left:0;
        font-size: 0.8em;
        width:auto;
        margin: auto 3%;
        max-width: 100%;
    }

    .advertisement_image{
        max-height: 40px;
        max-width: 40px;
        width: 100%;
        height: 100%;
    }

    .advertisement_block{
        left:0;
        width:auto;
        margin: 0 0 2% 0;
        max-width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
    }
}

